body {body {
  background-color: #4D6E93
}

h3{
  color: #202020;
    font-size: 200%;
}
h3{
  text-shadow: 1px 1px;
} 
 h3 {
  text-decoration-line: underline;
}
h3 {
  
  text-decoration-line: overline underline;
  text-decoration-line-color: #00994c;
}
img{
  width: 10%;
}
img{ 
  length: 15%;
  opacity: .033;
}
  img:hover{
    opacity: 1;
  }
img {
  filter: brightness(135%);
}
img {
  filter: saturate(750%);
}
img {
  float: center;
  clip-path: ellipse(69% 60%);
  shape-outside: ellipse(25% 55%);
}
img {
  float: center;
}
ul {
  list-style-type: none;
  background-color: #4A5759;
  margin: 0;
  width: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  position: fixed;
}
li{
  display: inline;
  padding: 8px 30px;
  float: right;
}
a{
  text-decoration: none;
  color: black;
   text-decoration-line: underline;
   text-decoration-style: straight;
  
}

li a:hover{
  background-color: #D6F8D6;
  padding: 30px;
}

}
